<form action="{{path('admin.users.delete', {id:user.id})}}" method="post" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette utilisateur')">
<input type="hidden" name="token" value={{ csrf_token('delete' ~ user.id) }}>
<button class="btn btn-danger">
<i class="bi bi-trash3-fill"></i>
Supprimer</button>
</form>