{% extends "base.html.twig" %}

{% block title %}
modification d'un terrain
{{ parent() }}
{% endblock %}

{% block body %}
<section class="container mt-4">
<h1 class="text-center m-4">Modification d'un terrain</h1>
{% include "Backend/Terrains/_form.html.twig" with { labelButton: 'Modifier'} %}
<a href="{{ path('admin.terrains.index')}}" class="btn btn-secondary">Retour a la liste</a>
</section>

{% endblock %}