.card-terrain {
    width: 350px;
    box-shadow: $box-shadow-card;
    border-radius: $border-radius;


    img {
        border-radius: $border-radius $border-radius 0 0;
    }

    &-content {
        @include flexbox(space-evenly, center, row);

        &-details {

            h2 {
                padding: 20px 0;
            }

            p {
                padding: 10px 0;
            }
        }

        &-price {
            margin-bottom: 40px;
            color: $primary;
        }

    }

    &-button a {
        background: $primary;
        font-size: $font-size-button;
        border-radius: 0 0 $border-radius $border-radius;
        padding: $button-padding;
        box-shadow: $box-shadow-card;
        color: $white;
        display: block;
        text-align: center;
    }


}

.average {
    position: relative;
    top: 100px;
}