.show-reservations {
    margin-top: 10vh;

    background: $primary;
    color: $white;
    border-radius: $border-radius;
    padding: 10px;

    h2 {
        display: inline-block;
        background: $secondary;
        padding: 5px;
        border-radius: $border-radius;
    }

}