

.list-content {
   
    width: 100%;
    margin: auto;
    text-align: center;
    border: dashed 1px $white;

    @media screen and (min-width:768px) {
        width: 50%;
    }

    &-avis {
        border-bottom: solid 2px $primary;
    }
}