
$primary: #283b4d;
$secondary: #dcdde1;
$tertiary: #252c33;

$text-color: #777777;
$grey: #888;
$grey-light: #bdbdbd;
$grey-aside: #ececec;
$white: #f5f5f5;
$dark-blue: #0b2864;
$grey-banner: #fcfcfd;
$heading: #48455a;

/** Fonts **/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

$font-primary: "Poppins", sans-serif;

// Border radius
$border-radius: 10px;

// Box shadow
$box-shadow-card:
0px 12px 20px -12px rgba(0, 0, 0, 0.56),
 0px 5px 20px 0px rgba(0, 0, 0, 0.12), 
 -1px 5px 0px -5px rgba(0, 0, 0, 0.2)