{% extends "base.html.twig" %}

{% block title %}
Creation d'un Complexe
{{ parent() }}
{% endblock %}

{% block body %}
<section class="container mt-4">
<h1 class="text-center">Création d'un complexes</h1>
{% include "./Backend/Complexes/_form.html.twig" with { labelButton: 'créer'} %}
</section>
{% endblock %}