.banner-hero {
    @include flexbox(center, center);
    height: 80vh;
    background: center / cover url('../../img/home.jpg');

    &-header {
        background: rgb(0 0 0 / 54%);
        border-radius: $border-radius;
        padding: 0.6em 1em;
        box-shadow: $box-shadow-card;
        --webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);

        h1 {
            color: white;
        }
    }
}