.section-city {
    @include flexbox(center, center, column);
    background-color: $white;

    &-form {
        width: 80%;
    }

    &-text {
        color: $primary;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.1em;
    }

    &-form-input {
        width: 100%;
        border-radius: $border-radius;
        padding:  10px 50px;
        border: solid 5px #dcdde1;
        @media screen and (min-width: 1024px) {
           
        }
    }

    &-form-list {
        text-align: center;
        padding: 10px;
        border-bottom: solid 1px;

        li {
            cursor: pointer;
            background: white;

            &:hover {
                background: black;
                color: white;
            }
        }
    }
}
