.section-city {
    @include flexbox(center, center, column);
    background-color: $white;

    &-text {
        text-align: center;
        margin-top: 20px;
        font-weight: bold ;
        font-size: 1.1em;
    }

    &-form-input {
        width: 100%;
        border-radius: $border-radius;
        padding: 0 50px ;

        @media screen and (min-width: 768px) {
            width: 800px;
        }
    }

    &-form-list {
       text-align: center;
       padding: 10px;
       border-bottom: solid 1px ;
    }
}
