@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


.container-contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: $white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.big-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 75%;
  right: 57%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  position: absolute;
  width: 360px;
  height: 360px;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
}

@media (max-width: 480px) {
  .container-contact {
    padding: 1.5rem;
  }

  .square,
  .big-circle {
    display: none;
  }
}