<header class="navbar-sticky">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Locafoot</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terrains</a>
                    </li>
                </ul>
               <ul class="navbar-nav ms-auto">
               {% if app.user %}
               <li>
                   <a href="/logout" class="btn btn-danger">Déconnexion</a>
                </li>
                {% else %}
                <li>
                   <a href="/register" class="btn btn-outline-light">S'inscrire</a>
                </li>
                <li>
                   <a href="{{ path('app.login') }}" class="btn btn-light">Connexion</a>
                </li>
               {% endif %}
               
                
                
               </ul>
            </div>
        </div>
    </nav>
</header>